*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* overflow-x: hidden; */
}
body{
    background-color: rgb(189, 180, 180);
    block-size: border-box;
    /* overflow-x: auto; */
    overflow: hidden;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

